<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
</head>
<body>
  <button id="change-cover">change cover</button>
  <p id="message"></p>

  <script>
    const btn = document.querySelector('#change-cover');
    btn.addEventListener('click', () => {
      const password = prompt('enter password');

      const url = 'http://localhost:3000/change-cover';
      var config = {
        params: { password },
        headers: {'Access-Control-Allow-Origin': '*'}
      };
      axios.get(url, config)
      .then(({ data }) => {
        showMessage(data.message);
      })
    })

    function showMessage(text) {
      const msg = document.querySelector('#message');
      msg.textContent = text;
    }
  </script>
</body>
</html>